<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-controller="myCtrler">
	<h2 class="jumbotron text-center">Student Form 7777777777777777777777777777777777777</h2>
	<div class="container">
		<div class="form-group">Name
			<input type="text" id="name"  class="form-control" ng-model="personDetail.name" placeholder="name">
		</div>
		<div class="form-group">Roll.No
			<input type="number" class="form-control" ng-model="personDetail.rNo" placeholder="rollno">
	    </div>
		<div class="form-group">Subject
			<input type="text" class="form-control" ng-model="personDetail.subject" placeholder="subject">
		</div>
		<div class="form-group">TotalMark
			<input type="number" class="form-control"  ng-model="personDetail.tMark" placeholder="totalmark">
		</div>
		<div class="form-group">ObtainMark
			<input type="number" class="form-control" ng-model="personDetail.oMark"  placeholder="obtainmark">
		</div>
		<button ng-click="process()">submit</button>
	</div>
	<script>
		var app=angular.module('myApp',[]);
		app.controller('myCtrler', function($scope){
			$scope.personDetail={};
			/*This is to process
			@param {String} reqString
			*/
			$scope.process=function(){
				alert($scope.personDetail.name + " was successfully registered");
				$scope.personDetail={};
			}
		})
	</script>
</body>
</html>